#inspector .body {
  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }

  .panel-btn {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4A4A4A;

    .panel-btn-close {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      margin: -1px 0 0 -7px;
      background: transparent;

      &:before, &:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        margin-left: -7px;
        margin-top: -1px;
        background: #FFF;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    .panel-btn-add {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      margin: -1px 0 0 -7px;
      background: transparent;

      &:before, &:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        margin-left: -7px;
        margin-top: -1px;
        background: #FFF;
      }

      &:before {
        transform: rotate(-90deg);
      }

      &:after {
        transform: rotate(0deg);
      }
    }
  }

  .edit-wrap {
    width: 1000px;
    z-index: 10000;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 220px;
    padding: 10px;
    border-radius: 4px;

    p.title {
      text-align: center;
      margin: 0;
      font-weight: 600;
    }

    .edit {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px 0;

      > div {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        margin: 0 4px;
        position: relative;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        > p {
          margin: 0 4px;
          line-height: 36px;
        }

        > div {
          flex-grow: 1;
        }

        > p.error-message {
          position: absolute;
          top: -20px;
          left: 40px;
          margin: 0;
          font-size: 12px;
          line-height: 12px;
        }

        > input {
          flex-grow: 1;
          border: 1px solid;
          border-color: #ccc;
          border-radius: 4px;
        }
      }

      .name {
        flex-basis: 200px;
        > input {
          flex-basis: 150px;
        }
      }

      .yomi {
        flex-basis: 200px;
        > input {
          flex-basis: 150px;
        }
      }


      .choku {
        flex-basis: 200px;
        > div {
          flex-basis: 150px;
        }
      }
    }

    table tr td {
      position: relative;
      text-align: left;
      width: 80px;

      input {
        width: 40px;
        height: 26px;
        border: 1px solid;
        border-color: #ccc;
        border-radius: 4px;
        padding: 0 0 0 8px;
      }

      p {
        height: 28px;
        margin: 0;
      }

      .panel-btn {
        top: 8px;
        right: 4px;
        width: 20px;
        height: 20px;
      }
    }

    p.explanation {
      margin: 4px 0;
      font-size: 12px;
    }

    .btn-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: 4px;

      button {
        margin: 0 10px;
        width: 120px;
        height: 36px;
        font-size: 14px;
        line-height: 34px;
      }
    }
  }
}
