#reference-950A-wrap {
  .table-wrap {
    padding-top: 28px;
    overflow-x: scroll;

    p.result-count {
      position: absolute;
      top: 4px;
      left: 4px;

      margin: 4px;
      font-size: 12px;
      text-align: left;
    }

    button.download {
      position: absolute;
      top: 4px;
      right: 4px;
    }

    table.reference-result-table {
      border-spacing: 0;
      border-collapse: collapse;
      font-size: 10px;
      width: 3000px;

      .clickable {
        cursor: pointer;

        &:after {
          content: "";
        }
        &.asc:after {
          content: "↑";
        }
        &.desc:after {
          content: "↓";
        }
      }

      thead {
        display: block;

        th {
          color: #fff;
          padding: 4px 8px;
          background: #258;
          font-weight: bold;
          border-left: 1px solid #EEE;
          border-top: 1px solid #258;
          border-bottom: 1px solid #EEE;
          line-height: 120%;
          text-align: center;

          &:first-child {
            border-left: 1px solid #84b2e0;
          }

          &:last-child {
            border-right: 1px solid #84b2e0;
          }
        }
      }

      tbody {
        display: block;
        max-height: calc(100vh - 260px);
        overflow-y: scroll;

        tr {
          background: #fff;

          td {
            padding: 4px 8px;
            border-bottom: 1px solid #84b2e0;
            border-left: 1px solid #84b2e0;
            text-align: center;

            &:last-child {
              border-right: 1px solid #84b2e0;
              box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
            }
          }

          &:nth-child(2n+1) {
            background: #f1f6fc;
          }
          &:last-child td {
            box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
          }
          &:hover {
            background: #bbd4ee;
          }
        }
      }

      th, td {
        box-sizing: border-box;
      }
    }
  }
}
