#association-950A-wrap {
  padding: 4px 4px 0 4px;
  position: relative;

  .select-wrap {
    padding-bottom: 6px;

    > div.row {
      padding: 6px;

      > div.row {
        padding: 6px;

        &:first-child {
          margin-right: 2px;
        }
        &:last-child {
          margin-left: 2px;
        }
      }
    }

    div.row {
      > div, > span, > p {
        float: left;
      }

      > div.Select {
        &.width200 {
          width: 200px;
        }
        &.width140 {
          width: 140px;
        }
        &.width84 {
          width: 84px;
        }
      }

      > p {
        margin-right: 4px;
        margin-left: 4px;
        height: 30px;
        line-height: 30px;
        text-align: right;
      }

      p.realtime {
        width: 164px;
        text-align: center;
        margin: 0;
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  button.serch {
    display: block;
    margin: 0 auto;
  }

  .result {
    margin-top: 10px;
    padding: 4px;
  }

  .panel-btn {
    cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 4px;
      right: 4px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #4A4A4A;

    .panel-btn-close {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        margin: -1px 0 0 -7px;
        background: transparent;

      &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 14px;
          height: 2px;
          margin-left: -7px;
          margin-top: -1px;
          background: #FFF;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  .mapping-wrap {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 10px 10px 10px;
    height: calc(100% - 20px);
    min-height: 595px;
    width: 100%;
    min-width: 1330px;
    background-color: white;
    border-radius: 4px;
  }

  .modal {
    z-index: 1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
  }
}
