#hole .body {
  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
  }

  .edit-wrap {
    .panel-btn {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 4px;
      right: 4px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #4A4A4A;

      .panel-btn-close {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        margin: -1px 0 0 -7px;
        background: transparent;

        &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 14px;
          height: 2px;
          margin-left: -7px;
          margin-top: -1px;
          background: #FFF;
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }

      .panel-btn-add {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        margin: -1px 0 0 -7px;
        background: transparent;

        &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 14px;
          height: 2px;
          margin-left: -7px;
          margin-top: -1px;
          background: #FFF;
        }

        &:before {
          transform: rotate(-90deg);
        }

        &:after {
          transform: rotate(0deg);
        }
      }
    }

    width: 1060px;
    z-index: 10000;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 220px;
    padding: 10px;
    border-radius: 4px;

    p.title {
      text-align: center;
      margin: 0;
      font-weight: 600;
    }

    .edit {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      padding: 16px 0 20px 0;

      > div {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 4px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        > p {
          margin: 0 4px;
          line-height: 30px;
        }

        > p.error-message {
          position: absolute;
          top: -16px;
          left: 36px;
          margin: 0;
          font-size: 12px;
          line-height: 12px;
          white-space: nowrap;
        }

        > input {
          border: 1px solid;
          border-color: #ccc;
          border-radius: 4px;
        }
      }

      .label > input {
        width: 50px;
      }

      .point > input {
        width: 100px;
      }

      .direction > div {
        width: 80px;
      }

      .shape > div {
        width: 80px;
      }

      .border > div {
        width: 80px;
      }

      .color {
        .select-color-wrap {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          width: 200px;
        }
      }
    }





    p.explanation {
      margin: 4px 0;
      font-size: 12px;
    }

    .btn-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: 4px;

      button {
        margin: 0 10px;
        width: 120px;
        height: 36px;
        font-size: 14px;
        line-height: 34px;
      }
    }
  }
}
