#association {
  padding: 4px 4px 0 4px;
  min-width: 1110px;

  .border-left {
    border-left: 1px solid #4A4A4A;
  }
  .border {
    border-bottom: 1px solid #4A4A4A;
  }

  .serch-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;

    > div {
      margin: 0 4px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }

    .vehicle-wrap {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 120px;

      > div {
        flex-grow: 1;
        flex-basis: 80px;
      }
      > p {
        margin: 0 8px 0 0;
        padding: 0;
        line-height: 36px;
      }
    }

    .parts-wrap {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 280px;

      > div {
        flex-grow: 1;
        flex-basis: 200px;
      }
      > p {
        margin: 0 8px 0 0;
        padding: 0;
        line-height: 36px;
      }
    }

    .term-wrap {
      flex-basis: 340px;
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;

      p {
        margin: 0 8px 0 0;
        padding: 0;
        line-height: 36px;
        &:nth-child(3) {
          margin: 0 4px;
        }
      }

      div {
        flex-basis: 60px;
      }

      input {
        color: #BBB;
      }
    }

    .panel-id-wrap {
      flex-basis: 220px;
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;

      p {
        margin: 0 8px 0 0;
        padding: 0;
        line-height: 36px;
      }

      input {
        flex-basis: 30px;
      }
    }


    button {
      height: 36px;
      width: 50px;
      margin-left: 4px;
      font-size: 16px;
    }
  }

  .result {
      margin-top: 20px;
      padding: 10px;

      table {
          border-collapse: collapse;

          tr {
              font-size: 14px;
              background-color: #EEE;

              &:nth-child(1) {
                  text-align: center;
                  font-weight: 600;
              }
              &:nth-child(3) {
                  border-bottom: 1px solid #4A4A4A;   
              }

              > td {
                  white-space: nowrap;
                  padding: 4px 10px;

                  &:nth-child(1) {
                      text-align: right;
                  }

                  &:nth-child(2), &:nth-child(3), &:nth-child(4){
                      border-left: 1px solid #4A4A4A;
                  }
              }
          }
          tr.content {
            background-color: #FFF;
            td {
              cursor: pointer;
            }
          }
      }
  }

  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }

  .jump-wrap {
    width: 500px;
    z-index: 10000;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 500px;
    border-radius: 4px;

    .panel-btn {
      cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 4px;
        right: 4px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #4A4A4A;

      .panel-btn-close {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 14px;
          height: 2px;
          margin: -1px 0 0 -7px;
          background: transparent;

        &:before, &:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 2px;
            margin-left: -7px;
            margin-top: -1px;
            background: #FFF;
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }

    p {
      text-align: center;
    }

    .jump {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px;

      > div {
        margin: 0 4px;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-of-type(1) {
          margin-right: 0;
        }
      }

      .process-wrap {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-basis: 200px;

        > div {
          flex-grow: 1;
          flex-basis: 150px;
        }
        > p {
          margin: 0 8px 0 0;
          padding: 0;
          line-height: 36px;
        }
      }

      .inspection-wrap {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-basis: 200px;

        > div {
          flex-grow: 1;
          flex-basis: 150px;
        }
        > p {
          margin: 0 8px 0 0;
          padding: 0;
          line-height: 36px;
        }
      }
    }
  }
}
