#association {
  padding: 4px 4px 0 4px;

  .Select-arrow-zone {
    width: 20px;
  }

  .border-left {
    border-left: 1px solid #4A4A4A;
  }
  .border {
    border-bottom: 1px solid #4A4A4A;
  }

  .serch-wrap-wrap {
    padding-bottom: 10px;
  }

  .serch-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 10px;

    > div {
      margin: 0 4px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }

    .parts-panel-id-wrap {
      flex-basis: 550px;
      display: flex;
      flex-flow: row nowrap;
      padding: 6px;

      &.active {
        background-color: #4A4A4A;
        border-radius: 4px;

        p {
          color: #FFF;
        }
      }

      .parts-wrap {
        display: flex;
        flex-flow: row nowrap;
        flex-basis: 280px;

        > div {
          flex-grow: 1;
          flex-basis: 200px;
        }
        > p {
          margin: 0 8px 0 0;
          padding: 0;
          width: 40px;
          line-height: 30px;
        }
      }

      .panel-id-wrap {
        flex-basis: 174px;
        display: flex;
        flex-flow: row nowrap;
        margin-left: 8px;

        p {
          margin: 0 8px 0 0;
          padding: 0;
          line-height: 30px;
        }

        input {
          flex-basis: 30px;
        }
      }
    }

    .term-wrap {
      flex-basis: 530px;
      display: flex;
      flex-flow: row nowrap;
      padding: 6px;

      &.active {
        background-color: #4A4A4A;
        border-radius: 4px;

        p {
          color: #FFF;
        }
      }
      
      p {
        margin: 0 4px;
        padding: 0;
        line-height: 30px;
        &:nth-child(3) {
          margin: 0 4px;
        }
      }

      div {
        flex-basis: 100px;
      }

      input {
        color: #BBB;
      }
    }
  }

  button.serch {
    display: block;
    margin: 0 auto;
  }

  .result {
    position: relative;
    margin-top: 10px;
    padding: 4px;

    p.result-count {
      position: absolute;
      top: 4px;
      left: 4px;

      margin: 4px;
      font-size: 12px;
      text-align: left;
    }

    button.download {
      position: absolute;
      top: 4px;
      right: 4px;
    }

    table {
      margin-top: 28px;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      white-space: nowrap;
      font-size: 11px;

      .clickable {
        cursor: pointer;

        &:after {
          content: "";
        }
        &.asc:after {
          content: "↑";
        }
        &.desc:after {
          content: "↓";
        }
      }

      th {
        color: #fff;
        padding: 4px 8px;
        background: #258;
        font-weight: bold;
        border-left: 1px solid #FFF;
        border-top: 1px solid #258;
        border-bottom: 1px solid #CCC;
        line-height: 120%;
        text-align: center;

        &:first-child {
          border-left: none;
        }
      }

      tr {
        background: #fff;

        td {
          padding: 4px 8px;
          border-bottom: 1px solid #84b2e0;
          border-left: 1px solid #84b2e0;
          text-align: center;

          &:last-child {
            border-right: 1px solid #84b2e0;
            box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
          }

          > p {
            display: inline-block;
            margin: 0;
            height: 24px;
            width: 100%;
            border-radius: 4px;
            font-size: 11px;
            line-height: 24px;
            cursor: pointer;

            &:hover {
              background-color: #bbd4ee;
            }
          }
        }

        &:nth-child(2n+1) {
          background: #f1f6fc;
        }
        &:last-child td {
          box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
        }
      }
    }
  }

  .panel-btn {
    cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 4px;
      right: 4px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #4A4A4A;

    .panel-btn-close {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 2px;
        margin: -1px 0 0 -7px;
        background: transparent;

      &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 14px;
          height: 2px;
          margin-left: -7px;
          margin-top: -1px;
          background: #FFF;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  .edit-wrap {
    width: 1100px;
    z-index: 10000;
    background-color: white;
    position: fixed;
    top: 140px;
    left: calc( 50% - 630px + 160px);
    border-radius: 4px;

    p {
      text-align: center;
    }

    p.validation_msg {
      font-size: 10px;
      color: red;
    }

    .message-wrap {
      margin: 6px 40px;
      p {
        text-align: left;
        margin: 2px;
      }
    }

    .input-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px;

      input {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding: 1px 10px;
        border-radius: 4px;
        border: 1px solid #4A4A4A;
      }
    }

    .btn-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: 10px;

      button {
        margin: 0 10px;
        padding: 0;
        width: 120px;
        height: 36px;
        font-size: 14px;
        line-height: 34px;
        background-color: #4A4A4A;
        color: #FFF;

        &.disabled {
          cursor: not-allowed;
          pointer-events : none;
          background-color: #FFF;          
          border: 1px solid #BBB;
          color: #BBB;
        }
      }
    }
  }
}
