#association {
    padding: 4px 4px 0 4px;
    min-width: 1100px;

    .border-left {
        border-left: 1px solid #4A4A4A;
    }
    .border {
        border-bottom: 1px solid #4A4A4A;
        margin-bottom: 4px;
    }

    .serch {
        display: flex;
        flex-flow: row nowrap;
        padding: 10px;

        div {
            flex-basis: 200px;
        }

        button {
            height: 36px;
            width: 60px;
            margin-left: 10px;
            font-size: 16px;
        }
    }

    .result {
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
        margin: 6px 0;

        div {
            display: flex;
            flex-flow: row nowrap;
            height: 24px;

            p {
                flex-basis: 160px;
                font-size: 12px;
                padding: 0 0 0 10px;
                margin: 0;
            }

            &:nth-child(1) {
                p {
                    font-weight: 600;
                }
                p.row:nth-child(4) {
                    flex-basis: 840px;
                    text-align: center;
                }
            }
        }

        .aline-right{
            flex-basis: 30px;
        }
    }

    p.no-data {
        text-align: left;
    }
}
