html {
  height:100%;
}

body {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: block;
  height:100%;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

div#root {
  height:100%;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, dl {
    list-style: none;
}

input {
  font-size: 14px;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

.none-appearance {
  appearance: none;
  -webkit-appearance: none;
}

.none-resize {
  resize: none;
}

.error-message {
    color: red;
}

.has-border {
    border: 1px solid #dce0e0;
}

.bg-gray {
  background-color: #F5F5F5;
}

.bg-white {
  background-color: #FFF;
  border-radius: 3px;
}

.none-event {
  cursor: default;
  pointer-events : none;
}

p, h1, h2, h3, h4, h5, span {
  &.molding {color: #4B94C0; }
  &.holing { color: #CF4635; }
  &.jointing { color: #00A459; }
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.gray {
    background-color: #BFBFBF;
    color: #000;
    &:hover {
      box-shadow: 0 0 5px #4A4A4A;
    }
    &:active {
      box-shadow: none;
    }

    &.disabled {
      background-color: #EEE;
      color: #BFBFBF;
      cursor: default;

      &:hover, :active {
        box-shadow: none;
      }
    }
  }

  &.molding {
    background-color: #4B94C0;
    color: #FFF;
    &:hover {
      box-shadow: 0 0 5px #4B94C0;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.holing {
    background-color: #CF4635;
    color: #FFF;
    &:hover {
      box-shadow: 0 0 5px #CF4635;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.jointing {
    background-color: #00A459;
    color: #FFF;
    &:hover {
      box-shadow: 0 0 5px #00A459;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.yellow {
    background-color: orange;
    border: 2px solid #4A4A4A;
    color: #FFF;
    &:hover {
      box-shadow: 0 0 5px orange;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.white {
    background-color: #FFF;
    border: 2px solid #4A4A4A;
    color: #4A4A4A;

    &:hover {
      box-shadow: 0 0 5px #4A4A4A;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.yellow-white {
    position: relative;
    background-color: #FFF;
    opacity: 1;
    border: 2px solid #4A4A4A;
    color: #4A4A4A;
    
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      border-top: 36px solid orange;
      border-right: 36px solid transparent;
      border-left: 0px;
      height: 0;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      border-bottom: 36px solid orange;
      border-left: 36px solid transparent;
      border-right: 0px;
      height: 0;
    }

    &:hover {
      box-shadow: 0 0 5px #4A4A4A;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.selectable-dark {
    background-color: #EEE;
    color: #9F9F9F;

    &.selected {
      background-color: #4A4A4A;
      color: #FFF;
    } 
  }
}






