html {
  height:100%;
}

body {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: block;
  height:100%;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

div#root {
  height:100%;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, dl {
    list-style: none;
}

input {
  box-sizing: border-box;
  height: 30px;
  border: 1px solid rgb(204, 204, 204); 
  border-radius: 4px;
  font-size: 14px;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

.none-appearance {
  appearance: none;
  -webkit-appearance: none;
}

.none-resize {
  resize: none;
}

.error-message {
    color: red;
}

.has-border {
    border: 1px solid #dce0e0;
}

.bg-gray {
  background-color: #F5F5F5;
}

.bg-white {
  background-color: #FFF;
  border-radius: 3px;
}

.none-event {
  cursor: default;
  pointer-events : none;
}

p, h1, h2, h3, h4, h5, span {
  &.molding {color: #4B94C0; }
  &.holing { color: #CF4635; }
  &.jointing { color: #00A459; }
}

button {
  box-sizing: border-box;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  line-height: 30px;

  &.gray {
    background-color: #BFBFBF;
    color: #000;
    &:hover {
      box-shadow: 0 0 5px #4A4A4A;
    }
    &:active {
      box-shadow: none;
    }

    &.disabled {
      background-color: #EEE;
      color: #BFBFBF;
      cursor: default;

      &:hover, :active {
        box-shadow: none;
      }
    }
  }

  &.dark {
    color: #FFF;
    background-color: #4A4A4A;
    &:hover {
      box-shadow: 0 0 5px #4A4A4A;
    }
    &:active {
      box-shadow: none;
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events : none;
      background-color: #FFF;          
      border: 1px solid #BBB;
      color: #BBB;
      &:hover, :active {
        box-shadow: none;
      }
    }
  }

  &.selectable-dark {
    background-color: #EEE;
    color: #9F9F9F;

    &.selected {
      background-color: #4A4A4A;
      color: #FFF;
    } 
  }

  &.download {
    font-size: 11px;
    height: 24px;

    p {
      margin: 0;
      line-height: 24px;

      &:before {
        content: url(/img/icon/download.svg);
        display: inline-block;
        margin-right: 2px;
        height: auto;
        width: 12px;
        position: relative;
        top: 2px;
        left: -2px;
      }
    }
  }

  &.serch {
    p {
      margin: 0;

      &:before {
        content: url(/img/icon/serch-w.svg);
        display: inline-block;
        margin-right: 2px;
        height: auto;
        width: 12px;
        position: relative;
        top: 1px;
        left: -2px;
      }
    }

    &.disabled p:before {
      content: url(/img/icon/serch-g.svg);
    }
  }

  &.edit {
    p {
      margin: 0;

      &:before {
        content: url(/img/icon/serch-w.svg);
        display: inline-block;
        margin-right: 2px;
        height: auto;
        width: 12px;
        position: relative;
        top: 1px;
        left: -2px;
      }
    }

    &.disabled p:before {
      content: url(/img/icon/serch-g.svg);
    }
  }
}






