
// For react-select
.Select {
  height: 30px;

  .Select-control {
    position: static;
    height: 30px;

    .Select-value {
      line-height: 30px;
      height: 30px;
    }

    .Select-placeholder {
      line-height: 30px;
      height: 30px;
    }

    .Select-input {
      height: 28px;

      > input {
        line-height: 14px;
        padding: 2px 0 4px;
      }
    }
  }


  .Select-menu-outer {
    max-height: 600px !important;

    .Select-option {
      padding: 4px 10px;
    }
  }

  .Select-menu {
    max-height: (600px - 2px);
    overflow-y: auto;
  }

  &.Select--multi {
    .Select-multi-value-wrapper {
      .Select-value-label {
        white-space: nowrap;
      }

      .Select-value-icon {
        padding: 1px 5px 1px;
        border-right: 1px solid #4A4A4A;
      }

      .Select-value {
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #4A4A4A;
        color: #4A4A4A;
        line-height: 18px;
        font-size: 14px;
        height: 24px;
        margin-top: 2px;
      }
    }
  }
}


