#dashboardWrap {
  padding: 4px 4px 0 4px;

  > div.header {
    display: flex;
    flex-flow: row nowrap;

    .serch-wrap {
      flex-basis: 1030px;
      flex-grow: 1;
      padding: 10px;

      .flex-row {
        display: flex;
        flex-flow: row nowrap;
        margin-right: 10px;

        > div {
          margin: 0 10px;

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }
      }

      .col-1 {
        justify-content: space-between;

        > div {
          display: flex;
          flex-flow: row nowrap;
          flex-grow: 1;

          > p {
            margin: 0 8px 0 0;
            line-height: 30px;
          }
        }

        .part {
          flex-basis: 300px;

          > p {
            width: 30px;
          }

          > div {
            width: calc(100% - 30px);
          }
        }

        .process {
          flex-basis: 230px;

          > p {
            width: 30px;
          }

          > div {
            width: calc(100% - 30px);
          }
        }

        .inspection {
          flex-basis: 230px;

          > p {
            width: 30px;
          }

          > div {
            width: calc(100% - 30px);
          }
        }

        .choku {
          flex-basis: 150px;

          > p {
            width: 14px;
          }

          > div {
            width: calc(100% - 14px);
          }
        }
      }

      .col-2 {
        margin-top: 12px;

        > div {
          flex-grow: 1;
          padding: 6px 10px;
          height: 44px;
          border: 1px solid #BBB;
          border-radius: 4px;
          color: #BBB;

          &.active {
            background-color: #4A4A4A;
            cursor: default;
            color: #FFF;
            p {
              color: #FFF;
            }
          }
        }

        .realtime {
          flex-basis: 300px;

          > p {
            text-align: center;
            line-height: 32px;
            font-size: 16px;
          }
        }

        .term-wrap {
          flex-basis: 500px;
          display: flex;
          flex-flow: row nowrap;

          > p {
            font-size: 16px;
            line-height: 32px;

            &:nth-child(3) {
              margin: 0 6px;
            }
          }

          input {
            color: #BBB;
          }
        }

        .panel-id-wrap {
          flex-basis: 260px;
          display: flex;
          flex-flow: row nowrap;

          > p {
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
    }

    .mapping-btn {
      flex-basis: 50px;
      flex-grow: 0;
      height: 86px;
      margin: 10px 10px 10px 0 ;
      border: 1px solid #BBB;
      border-radius: 4px;
      color: #BBB;

      p {
        margin: 0;
        padding: 0;
        line-height: 84px;
        text-align: center;
      }

      &.active {
        background-color: #4A4A4A;
        cursor: default;
        color: #FFF;

        p {
          color: #FFF;
        }
      }
    }
  }
}