#report-950A-wrap .report-body {
  margin: 10px 0 0 0;
  padding: 30px 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow-y: scroll;

  .inspection-wrap {
    > p {
      margin-bottom: 10px;
      color: #4A4A4A;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

    .report-panel {
      margin: 0 10px 10px 0;
      padding: 4px;
      width: 130px;
      height: 58px;
      background-color: #4A4A4A;
      border: 1px solid #4A4A4A;
      border-radius: 4px;
      cursor: pointer;

      p.report-line-name {
        margin: 0 0 4px 0;
        text-align: center;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
      }

      &:hover {
        box-shadow: 0 0 5px #4A4A4A;
      }

      &:active {
        box-shadow: none;
      }

      &.disabled {
        cursor: default;
        pointer-events : none;
        background-color: #FFF;          
        border: 1px solid #BBB;
        &:hover, :active {
          box-shadow: none;
        }

        p.report-line-name, p.report-vehicle-head, div.report-vehicle-body > p {
          color: #BBB;
        }

        p.report-line-name {
          border-color: #BBB;
        }
      }
    }
  }
}
