#reference-950A-wrap {
  padding: 4px 4px 0 4px;

  .reference-header {
    padding-bottom: 6px;

    .select-wrap {
      div.row {
        padding: 6px;

        &:last-child {
          padding-top: 0;

          > div.column {
            float: left;
            margin-right: 4px;

            &:first-child {
              width: 1000px;
              .Select .Select-menu-outer .Select-option {
                padding: 3px 10px;
                font-size: 14px;
              }
            }

            &:last-child {
              margin-right: 0;
              padding: 10px;
              height: 78px;
              width: calc(100% - 1004px);
              min-width: 165px;

              > input {
                width: 100%;
              }
            }
          }
        }
      }

    	div.row {
        > div, > span, > p {
          float: left;
          margin-right: 12px;
        }

        > div.Select {
          width: 260px;

          &:last-child {
            margin-right: 0;
          }

          &.width454 {
            width: 454px;
          }
          &.width140 {
            width: 140px;
          }
          &.width100 {
            width: 100px;
          }
        }

        > p {
          margin-right: 4px;
          height: 30px;
          line-height: 30px;
          text-align: right;
        }

        p.realtime {
          width: 164px;
          text-align: center;
          margin: 0;
        }

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        input.panelId {
          letter-spacing: 0.1em;
        }

        span.small {
          font-size: 11px;
          margin-left: 20px;
        }
    	}
    }

    button.serch {
      display: block;
      margin: 0 auto;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .reference-result {
    margin-top: 6px;
    padding: 4px;
    position: relative;

    > p.message {
      padding: 6px;
      font-size: 16px;
      text-align: center;
      font-weight: 600;
    }
  }
}