#mapping-wrap {
	margin-top: 4px;
	padding: 6px;
	background-color: rgba(0,0,0,.8);
    border-radius: 4px;
    height: 570px;
    position: relative;
    min-width: 1100px;

	.mapping-body {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		background-color: #FFF;
		border-radius: 4px;
		padding: 10px;

		.color-label {
			position: absolute;
			top: 2px;
			left: 2px;
			background-color: #DDD;
			border-radius: 4px;

			> div {
				float: left;
				width: 60px;

				div {
					float: left;
					width: 12px;
					height: 12px;
					margin: 4px;

					&.circle-red {
						border-radius: 6px;
						background-color: red;
					}
					&.circle-yellow {
						border-radius: 6px;
						background-color: #C6B700;
					}
					&.circle-blue {
						border-radius: 6px;
						background-color: blue;
					}
					&.rect-red {
						background-color: red;
					}
					&.rect-yellow {
						background-color: #C6B700;
					}
					&.rect-blue {
						background-color: blue;
					}
				}

				p {
					margin: 0;
					font-size: 14px
				}
			}
		}

		.figure-wrap {
            position: relative;
            min-width: 870px;
			flex-basis: 870px;
			flex-grow: 0;

			ul.parts-info {
			    display: flex;
			    justify-content: flex-start;
					margin: 0 0 10px 10px;
				padding: 0;

				li {
					background-color: #E7ECF5;
					border-radius: 4px;
					line-height: 24px;
					padding: 0 8px 0 8px;
					margin-right: 10px;
					font-size: 14px;

					span {
						font-weight: 600;
						&.small {
							font-weight: 300;
							font-size: 12px;
						}
						&:nth-child(3) {
							margin-left: 8px;
						}
					}

				}
			}

			.figure {
                img {
                    width: 870px;
                    display: block;
                    z-index: 1000;

                    &.quarter {
                        width: 435px;
                        float: left;

                        :nth-last-of-type(1):after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }
                }
			}

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 870px;
                height: 515px;
            }
		}

		.control-panel {
			flex-basis: 300px;
			flex-grow: 1;
			min-height: 540px;
			min-width: 210px;

			.control-tab {
			    display: flex;
			    justify-content: center;
			    align-items: center;
				height: 40px;

				button {
					flex-basis: 175px;
					height: 40px;
					background-color: #4A4A4A;
					color: #FFF;
					border: none;
					border-radius: 4px 4px 0 0;
					cursor: default;

					&.disable {
						height: 40px;
						border: none;
						border-radius: 4px 4px 0 0;
						background-color: #EEE;
						color: #9F9F9F;
						cursor: pointer;
					}
				}
			}
			.control-content {
				height: 500px;
				background-color: #FFF;
				border: 2px solid #BFBFBF;
				border-radius: 0 0 4px 4px;
                overflow-y: scroll;

				.collection {
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					margin: 10px 0px;
					font-size: 13px;

					> div {
						ul {
							margin: 0;
							padding: 0;

							li {
								display: flex;
								flex-flow: row nowrap;
								padding: 3px 6px;
								border-bottom: 1px solid #BFBFBF;
								height: 21px;

								&:nth-child(1) {
									border-top: 1px solid #BFBFBF;
								}									

								&:nth-child(2n) {
									background-color: #EEE;
								}
							}
						}

					}
				}

				.failure .collection {
					> div {
						&:nth-child(1) {
							flex-basis: 150px;
							border-right: 1px solid #BFBFBF;

							ul li span {
                                &:nth-child(1) {
                                	border: 1px solid #BBB;
                                	border-radius: 4px;
                                	margin: 3px 16px 3px 0;
                                	height: 12px;
                                	width: 12px;
                                	font-size: 10px;

                                	p {
                                		margin: -1px 0 0 2px;
                                		padding: 0;
                                	}
                                }
                                &:nth-child(2) {
                                    min-width: 114px;
                                }
                            }
						}
					}
				}

				.hole .collection {
                    min-width: 282px;
					> div:nth-child(1) {
						width: 40px;
						border-right: 1px solid #BFBFBF;	
					}
					> div:nth-child(2) {
						width: 80px;
						border-right: 1px solid #BFBFBF;
					}
					> div:nth-child(3) {
						width: 80px;
						border-right: 1px solid #BFBFBF;
					}
					> div:nth-child(4) {
						width: 80px;
						border-right: 1px solid #BFBFBF;
					}
					> div:nth-child(5) {
						width: 60px;
					}

					ul span {
						margin-top: 4px;
						margin-left: 4px;
						font-size: 10px;
					}

                    ul li:nth-child(1) span {
                        border: 1px solid #BBB;
                        border-radius: 4px;
                        margin: 3px 6px 3px 0;
                        height: 12px;
                        width: 12px;
                        font-size: 10px;

                        p {
                            margin: -1px 0 0 2px;
                            padding: 0;
                        }
                    }
                }

                .comment .collection {
                    > div {
                        &:nth-child(1) {
                            flex-basis: 151px;
                            border-right: 1px solid #BFBFBF;

                            ul li span {
                                &:nth-child(1) {
                                    border: 1px solid #BBB;
                                    border-radius: 4px;
                                    margin: 3px 16px 3px 0;
                                    height: 12px;
                                    width: 12px;
                                    font-size: 10px;

                                    p {
                                        margin: -1px 0 0 2px;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }

				.hModification .collection {
                    min-width: 314px;

					> div:nth-child(1) {
						flex-basis: 36px;
						border-right: 1px solid #BFBFBF;	
					}
					> div:nth-child(2) {
						flex-basis: 90px;
						border-right: 1px solid #BFBFBF;
					}
					> div:nth-child(3) {
						flex-basis: 116px;
						border-right: 1px solid #BFBFBF;
					}
					> div:nth-child(4) {
						flex-basis: 90px;
					}

					ul span {
						margin-top: 4px;
						margin-left: 4px;
						font-size: 10px;
					}

                    ul li:nth-child(1) {
                        font-size: 12px;

                        span {
                            border: 1px solid #BBB;
                            border-radius: 4px;
                            margin: 3px 6px 3px 0;
                            height: 12px;
                            width: 12px;
                            font-size: 10px;

                            p {
                                margin: -1px 0 0 2px;
                                padding: 0;
                            }
                        }
                    }
                }

                .inline .collection {
                    min-width: 282px;
                    > div:nth-child(1) {
                        flex-basis: 80px;
                        border-right: 1px solid #BFBFBF;    
                    }
                    > div:nth-child(2) {
                        flex-basis: 70px;
                        border-right: 1px solid #BFBFBF;
                    }
                    > div:nth-child(3) {
                        flex-basis: 70px;
                        border-right: 1px solid #BFBFBF;
                    }

                    ul span {
                        margin-top: 4px;
                        margin-left: 4px;
                        font-size: 10px;
                    }

                    ul li:nth-child(1) span {
                        border: 1px solid #BBB;
                        border-radius: 4px;
                        margin: 3px 6px 3px 0;
                        height: 12px;
                        width: 12px;
                        font-size: 10px;

                        p {
                            margin: -1px 0 0 2px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        opacity: .9;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        p {
            font-size: 18px;
        }
    }
}
