#mapping-wrap {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;

	> div {
		width: 1280px;
		background-color: #FFF;
		border-radius: 4px;
		padding: 10px;

		.mapping-header {
			height: 40px;

			h4 {
				margin-left: 20px;
				font-weight: 600;
				span {
					margin-right: 10px;
				}
			}
		}

		.mapping-body {

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			.figure-wrap {
				float: left;

				ul.parts-info {
				    display: flex;
				    justify-content: flex-start;
   					margin: 0 0 10px 10px;
					padding: 0;

					li {
						background-color: #E7ECF5;
						border-radius: 4px;
						line-height: 24px;
						padding: 0 8px 0 8px;
						margin-right: 10px;

						span {
							font-weight: 600;
							&.small {
								font-weight: 300;
								font-size: 12px;
							}
							&:nth-child(3) {
								margin-left: 8px;
							}
						}

					}
				}

				.figure {
					position: relative;

					img {
						width: 870px;
						display: block;
					}

					svg {
						position: absolute;
						top: 0;
						left: 0;
						width: 870px;
						height: 515px;
					}
				}

			}

			.control-panel {
				float: right;
				min-height: 540px;
				width: 350px;
				
				.control-tab {
				    display: flex;
				    justify-content: center;
				    align-items: center;
					height: 40px;

					button {
						flex-basis: 175px;
						height: 40px;
						background-color: #4A4A4A;
						color: #FFF;
						border: none;
						border-radius: 4px 4px 0 0;
						cursor: default;

						&.disable {
							height: 40px;
							border: none;
							border-radius: 4px 4px 0 0;
							background-color: #EEE;
							color: #9F9F9F;
							cursor: pointer;
						}
					}
				}
				.control-content {
					height: 500px;
					background-color: #FFF;
					border: 2px solid #BFBFBF;
					border-radius: 0 0 4px 4px;

					.switch {
				    	display: flex;
				    	justify-content: center;
				    	margin: 20px;

						button {
							flex-basis: 80px;
							margin: 0 2px;
							border: none;
							border-radius: 4px;
							background-color: #EEE;
							color: #9F9F9F;

							&.active {
								background-color: #4A4A4A;
								color: #FFF;
								cursor: default;
								pointer-events : none;
							}
						}
					}

					.failure .switch button {
						cursor: pointer;
						pointer-events : auto;
					}

					.collection {
						margin: 10px 30px;

						> div {
							margin-bottom: 20px;

							li span {
								display: inline-block;
								width: 80px;
							}
						}
					}
				}
			}
		}
	}
}
