.rc-calendar {
  font-family: Lato, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/*.rc-calendar-input-wrap {
  display: none;
}*/

.rc-calendar-time-picker-panel .rc-time-picker-panel-select {
	width: 126px;
}

.rc-time-picker-panel-select:nth-child(3) {
	display: none;
}