#association-950A-wrap .mapping-wrap {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 40px 20px;
    height: calc(100% - 0px);
    min-height: 595px;
    width: calc(100% - 0px);
    min-width: 1330px;
    background-color: white;
    border-radius: 4px;

    > p.message {
      margin-top: 200px;
      text-align: center;
    }

    .mapping-header {
      p {
        margin: 0 0 10px 120px;
        font-size: 14px;
      }
    }

    .mapping-left-panel {
      float: left;
      width: 120px;

      ul {
        margin: 0;
        padding: 0;

        li {
          padding: 0 0 0 4px;
          display: block;
          box-sizing: border-box;

          &.process-name {
            font-size: 11px;
            margin: 0 0 8px 0;
            color: #888;
          }

          &.inspection-name {
            margin: 4px 0;
            font-size: 14px;
            color: #4A4A4A;
            cursor: pointer;
            border: 1px solid #FFF;
            border-radius: 4px 0 0 4px;

            &:hover {
              border-color: #4A4A4A;
              background-color: #4A4A4A;
              color: #FFF;
            }

            &.active {
              border-color: #4A4A4A;
              background-color: #4A4A4A;
              color: #FFF;
              cursor: default;
            }

            &.disable {
              color: #DDD;
              cursor: default;
              pointer-events: none;
            }
          }
        }

        &.grouped {
          border-radius: 4px 0 0 4px;
          color: #4A4A4A;

          &:hover {
            border-color: #4A4A4A;
            background-color: #4A4A4A;
            color: #FFF;
          }

          &.active {
            border-color: #4A4A4A;
            background-color: #4A4A4A;
            color: #FFF;
            cursor: default;
          }

          &.disabled {
            color: #DDD;
            cursor: default;
            pointer-events: none;
          }

          li.inspection-name-jointing {
            position: relative;
            margin: 4px 0;
            font-size: 14px;
            cursor: pointer;

            div.icon-check {
              position: absolute;
              top: 4px;
              right: 4px;
              height: 12px;
              width: 12px;
              background-color: red;
              border: 2px solid #FFF;
              border-radius: 6px;

              &.yellow {
                background-color: #C6B700;
              }
              &.blue {
                background-color: blue;
              }
              &.green {
                background-color: green;
              }
              &.purple {
                background-color: purple;
              }
              &.light-green {
                background-color: #7ED321;
              }
            }
          }
        }
      }

      .divider {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .mapping-right-main {
      float: right;
      width: calc(100% - 120px);
      padding: 4px;
      border: 4px solid #4A4A4A;
      border-radius: 4px;

      .mapping-body {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background-color: #FFF;
        border-radius: 4px;
        padding: 4px;

        .color-label {
          position: absolute;
          top: 2px;
          left: 2px;
          background-color: #DDD;
          border-radius: 4px;

          > div {
            float: left;
            width: 60px;

            div {
              float: left;
              width: 12px;
              height: 12px;
              margin: 4px;

              &.circle-red {
                border-radius: 6px;
                background-color: red;
              }
              &.circle-yellow {
                border-radius: 6px;
                background-color: #C6B700;
              }
              &.circle-blue {
                border-radius: 6px;
                background-color: blue;
              }
              &.rect-red {
                background-color: red;
              }
              &.rect-yellow {
                background-color: #C6B700;
              }
              &.rect-blue {
                background-color: blue;
              }
            }

            p {
              margin: 0;
              font-size: 14px
            }
          }
        }

        .figure-wrap {
          margin-top: 20px;
          position: relative;
          flex-grow: 0;

          svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 870px;
            height: 515px;
          }
        }

        .control-panel {
          flex-basis: 290px;
          flex-grow: 1;
          min-height: 520px;
          min-width: 210px;
          margin: 0 0 0 4px;

          .control-tab {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            font-size: 12px;

            button {
              flex-basis: 175px;
              height: 40px;
              background-color: #4A4A4A;
              color: #FFF;
              border: none;
              border-radius: 4px 4px 0 0;
              cursor: default;

              &.disable {
                height: 40px;
                border: none;
                border-radius: 4px 4px 0 0;
                background-color: #EEE;
                color: #9F9F9F;
                cursor: pointer;
              }
            }
          }
          .control-content {
            height: 480px;
            background-color: #FFF;
            border: 2px solid #BFBFBF;
            border-radius: 0 0 4px 4px;
            overflow-y: scroll;

            .collection {
              display: flex;
              flex-flow: row nowrap;
              margin: 10px;
              font-size: 12px;

              > div {
                flex-shrink: 0;
                ul {
                  margin: 0;
                  padding: 0;

                  li {
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 3px 6px;
                    border-bottom: 1px solid #BFBFBF;
                    height: 21px;

                    &:nth-child(1) {
                      border-top: 1px solid #BFBFBF;
                    }                 

                    &:nth-child(2n) {
                      background-color: #EEE;
                    }
                  }
                }

              }
            }

            .failure .collection {
              > div {
                &:nth-child(1) {
                  width: 112px;
                  border-right: 1px solid #BFBFBF;
                  border-left: 1px solid #BFBFBF;

                  ul li span {
                    &:nth-child(1) {
                      border: 1px solid #BBB;
                      border-radius: 4px;
                      margin: 3px 6px 3px 0;
                      height: 12px;
                      width: 12px;
                      font-size: 10px;

                      p {
                        display: block;
                        font-size: 10px;
                        margin: -1px 0 0 2px;
                        padding: 0;
                        width: 12px;

                      }
                    }
                    
                    &:nth-child(2) {
                      min-width: 114px;
                    }
                  }
                }
                &:nth-child(2) {
                  width: 86px;
                  border-right: 1px solid #BFBFBF;
                }
                &:nth-child(3) {
                  width: 86px;
                  border-right: 1px solid #BFBFBF;
                }
              }
            }

            .hole .collection {
              > div {
                width: 50px;
                border-right: 1px solid #BFBFBF;
                border-left: 1px solid #BFBFBF;

                ul li:nth-child(1) span {
                  &:nth-child(1) {
                    border: 1px solid #BBB;
                    border-radius: 4px;
                    margin: 3px 3px 3px 0;
                    height: 12px;
                    width: 12px;
                    font-size: 10px;

                    p {
                      display: block;
                      font-size: 10px;
                      margin: -1px 0 0 2px;
                      padding: 0;
                      width: 12px;

                    }
                  }
                  
                  &:nth-child(2) {
                    min-width: 114px;
                  }
                }

                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                  width: 80px;
                  border-left: none;
                }
              }
            }

            .holeModification .collection {
              > div {
                width: 50px;
                border-right: 1px solid #BFBFBF;
                border-left: 1px solid #BFBFBF;

                ul li:nth-child(1) span {
                  &:nth-child(1) {
                    border: 1px solid #BBB;
                    border-radius: 4px;
                    margin: 3px 3px 3px 0;
                    height: 12px;
                    width: 12px;
                    font-size: 10px;

                    p {
                      display: block;
                      font-size: 10px;
                      margin: -1px 0 0 2px;
                      padding: 0;
                      width: 12px;

                    }
                  }
                  
                  &:nth-child(2) {
                    min-width: 114px;
                  }
                }

                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                  width: 90px;
                  border-left: none;
                }
              }
            }
          }
        }
        .cover {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            opacity: .9;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            p {
                font-size: 18px;
            }
        }
      }
    }
}
