#referenceWrap {
  padding: 4px 4px 0 4px;
  min-width: 1120px;

  // For react-select
  .Select-menu-outer {
    max-height: 600px !important;
  }
  .Select-menu {
    max-height: (600px - 2px);
    overflow-y: auto;
  }
  .Select-control {
    position: static;    
  }
  .Select--multi {
    .Select-value-label {
      white-space: nowrap;
    }
    .Select-value-icon {
      padding: 1px 5px 1px;
      border-right: 1px solid #4A4A4A;
    }
    .Select-value {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #4A4A4A;
      color: #4A4A4A;
    }
  }

  .serch-wrap {
    padding: 0 0 10px 0;
    .serch-area {
      padding: 10px;

      .flex-row {
        display: flex;
        flex-flow: row nowrap;

        > div {
          margin: 0 4px;

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }

      }

      .col-1 {
        justify-content: space-between;
        margin-bottom: 10px;

        > div {
          flex-basis: 280px;
          flex-grow: 1;
          display: flex;
          flex-flow: row nowrap;

          > p {
            margin: 0 8px 0 0;
            padding: 0;
            line-height: 36px;
          }

          > div {
            flex-basis: 220px;
            flex-grow: 1;
          }

          &:nth-child(1) {
            flex-basis: 160px;
            > div {
              flex-basis: 100px;
            }
          }
          &:nth-child(3) {
            flex-basis: 200px;
            > div {
              flex-basis: 150px;
            }
          }
          &:nth-child(4) {
            flex-basis: 200px;
            > div {
              flex-basis: 150px;
            }
          }
          &:nth-child(5) {
            flex-basis: 160px;
            > div {
              flex-basis: 100px;
            }
          }
        }
      }

      .col-2 {
        justify-content: space-between;
        font-size: 14px;

        .advanced-wrap {
          flex-basis: 800px;
          flex-grow: 1;
          padding: 6px;
          border: 1px solid #BBB;
          border-radius: 4px;
          color: #BBB;
          p {
            margin: 0;
          }

          &.active {
            background-color: #4A4A4A;
            cursor: default;
            color: #FFF;
            p {
              color: #FFF;
            }
          }

          > div > div {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;

            > div {
              display: flex;
              flex-flow: row nowrap;
              //align-items: flex-start;
              margin-right: 6px;

              &:nth-last-of-type(1) {
                margin-right: 0;
              }

              > p {
                line-height: 36px;
              }
              > div {
                flex-grow: 1;
              }
            }
          }

          div.row-1 {
            > div:nth-child(1) {
              flex-basis: 110px;
              flex-grow: 1;
              p {
                flex-basis: 30px;
              }
              div {
                flex-basis: 80px;
                flex-grow: 1;
              }
            }
            > div:nth-child(2) {
              flex-basis: 120px;
              flex-grow: 1;
              p {
                flex-basis: 46px;
              }
              div {
                flex-basis: 80px;
                flex-grow: 1;
              }
            }
            > div:nth-child(3) {
              flex-basis: 460px;
              p:nth-child(1) {
                margin: 0 4px 0 0;
              }
              p:nth-child(3) {
                margin: 0 4px;
              }
            }
          }

          div.row-2 {
            margin-top: 10px;

            > div:nth-child(1) {
              flex-basis: 216px;
              flex-grow: 1;
              > p {
                flex-basis: 36px;
              }
              > div {
                flex-basis: 180px;
                flex-grow: 1;
              }
            }
            > div:nth-child(2) {
              flex-basis: 216px;
              flex-grow: 1;
              > p {
                flex-basis: 36px;
              }
              > div {
                flex-basis: 180px;
                flex-grow: 1;
              }
            }
            > div:nth-child(3) {
              flex-basis: 236px;
              flex-grow: 1;
              > p {
                flex-basis: 56px;
              }
              > div {
                flex-basis: 180px;
                flex-grow: 1;
              }
            }
          }
        }

        .panel-id-wrap {
          flex-basis: 150px;
          padding: 6px;
          border: 1px solid #BBB;
          border-radius: 4px;
          color: #BBB;

          &.active {
            background-color: #4A4A4A;
            cursor: default;
            color: #FFF;
            p {
              color: #FFF;
            }
          }

          p {
            margin: 0 0 10px 0;
          }

          input {
            height: 34px;
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid rgb(204, 204, 204);            
          }

        }
      }

      .col-3 {
        > p {
          line-height: 50px;
          margin: 0 8px 0 0;
        }

        > div {
          height: 50px;
          border: 1px solid #BBB;
          border-radius: 4px;
          color: #BBB;

          &.active {
            background-color: #4A4A4A;
            cursor: default;
            color: #FFF;
            p {
              color: #FFF;
            }
          }

          > p {
            margin: 0;
            padding: 0;
            line-height: 36px;
            color: #BBB;
          }

          > div {
            width: 200px;
          }

          &.realtime {
            flex-basis: 150px;
            flex-grow: 1;
            line-height: 50px;
            text-align: center;
          }

          &.term-wrap {
            flex-basis: 490px;
            flex-grow: 1;
            display: flex;
            flex-flow: row nowrap;
            padding: 6px 4px 6px 10px;
            p {
              margin: 0 8px 0 0;
              &:nth-child(3) {
                margin: 0 4px;
              }
            }

            div {
              flex-basis: 60px;
            }

            input {
              color: #BBB;
            }
          }

          &.panel-id-wrap {
            flex-basis: 260px;
            flex-grow: 1;
            display: flex;
            flex-flow: row nowrap;
            padding: 6px 4px 6px 10px;

            p {
              margin: 0 8px 0 0;
            }

            input {
              flex-basis: 140px;
            }

          }


        }
      }
    }

    .serch-btn {
      height: 32px;
      width: 140px;
      margin: 0 auto;
      border: 1px solid #BBB;
      border-radius: 4px;
      color: #BBB;

      p {
        margin: 0;
        padding: 0;
        line-height: 30px;
        text-align: center;
      }

      &.active {
        background-color: #4A4A4A;
        cursor: default;
        color: #FFF;

        p {
          color: #FFF;
        }
      }
    }
  }

  .result-wrap {
    margin-top: 10px;
    padding: 4px;
    overflow: scroll;
    
    table {
      width: auto;
      border-spacing: 0;
      border-collapse: collapse;
      white-space: nowrap;
      font-size: 12px;

      .clickable {
        cursor: pointer;

        &:after {
          content: "";
        }
        &.asc:after {
          content: "↑";
        }
        &.desc:after {
          content: "↓";
        }
      }



      th {
        color: #fff;
        padding: 4px 8px;
        background: #258;
        font-weight: bold;
        border-left: 1px solid #258;
        border-top: 1px solid #258;
        border-bottom: 1px solid #CCC;
        line-height: 120%;
        text-align: center;

        &:last-child {
          border-right:1px solid #258;
        }
      }

      tr {
        background: #fff;

        td {
          padding: 4px 8px;
          border-bottom: 1px solid #84b2e0;
          border-left: 1px solid #84b2e0;
          text-align: center;

          &:last-child {
            border-right: 1px solid #84b2e0;
            box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
          }
        }

        &:nth-child(2n+1) {
          background: #f1f6fc;
        }
        &:last-child td {
          box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
        }
        &:hover {
          background: #bbd4ee;
        }
      }
    }
  }
}
