#referenceWrap {
  padding: 4px;
  min-width: 1120px;

  .serch-wrap {
    padding: 0 0 10px 0;
    .serch-area {
      padding: 10px 10px 4px 10px;

      .flex-row {
        display: flex;
        flex-flow: row nowrap;

        > div {
          margin: 0 4px;

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }

      }

      .col-1 {
        justify-content: space-between;
        margin-bottom: 10px;

        > div {
          flex-basis: 280px;
          flex-grow: 1;
          display: flex;
          flex-flow: row nowrap;

          > p {
            margin: 0 8px 0 0;
            padding: 0;
            line-height: 30px;
          }

          > div {
            flex-basis: 220px;
            flex-grow: 1;
          }

          &:nth-child(1) {
            flex-basis: 160px;
            > div {
              flex-basis: 100px;
            }
          }
          &:nth-child(3) {
            flex-basis: 200px;
            > div {
              flex-basis: 150px;
            }
          }
          &:nth-child(4) {
            flex-basis: 200px;
            > div {
              flex-basis: 150px;
            }
          }
          &:nth-child(5) {
            flex-basis: 160px;
            > div {
              flex-basis: 100px;
            }
          }
        }
      }

      .col-2 {
        justify-content: space-between;
        font-size: 14px;

        .advanced-wrap {
          flex-basis: 800px;
          flex-grow: 1;
          padding: 6px;
          border: 1px solid #BBB;
          border-radius: 4px;
          color: #BBB;
          opacity: 0.4;
          p {
            margin: 0;
          }

          &.active {
            background-color: #4A4A4A;
            cursor: default;
            color: #FFF;
            opacity: 1;
            p {
              color: #FFF;
            }
          }

          > div > div {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;

            > div {
              display: flex;
              flex-flow: row nowrap;
              //align-items: flex-start;
              margin-right: 6px;

              &:nth-last-of-type(1) {
                margin-right: 0;
              }

              > p {
                line-height: 30px;
                margin: 0 4px;
              }
              > div {
                flex-grow: 1;
              }
            }
          }

          div.row-1 {
            > div:nth-child(1) {
              flex-basis: 110px;
              flex-grow: 1;

              div {
                flex-basis: 80px;
                flex-grow: 1;
              }
            }
            > div:nth-child(2) {
              flex-basis: 120px;
              flex-grow: 1;

              div {
                flex-basis: 80px;
                flex-grow: 1;
              }
            }
            > div:nth-child(3) {
              flex-basis: 460px;

            }
          }

          div.row-2 {
            margin-top: 10px;

            > div:nth-child(1) {
              flex-basis: 216px;
              flex-grow: 1;

              > div {
                flex-basis: 180px;
                flex-grow: 1;
              }
            }
            > div:nth-child(2) {
              flex-basis: 216px;
              flex-grow: 1;

              > div {
                flex-basis: 180px;
                flex-grow: 1;
              }
            }
            > div:nth-child(3) {
              flex-basis: 236px;
              flex-grow: 1;

              > div {
                flex-basis: 180px;
                flex-grow: 1;
              }
            }
          }
        }

        .panel-id-wrap {
          flex-basis: 150px;
          padding: 6px;
          border: 1px solid #BBB;
          border-radius: 4px;
          color: #BBB;

          &.active {
            background-color: #4A4A4A;
            cursor: default;
            color: #FFF;
            p {
              color: #FFF;
            }
          }

          p {
            margin: 0 0 10px 0;
          }

          input {
            height: 34px;
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid rgb(204, 204, 204);            
          }

        }
      }
    }

    .serch-btn {
      height: 32px;
      width: 140px;
      margin: 0 auto;
      border: 1px solid #BBB;
      border-radius: 4px;
      color: #BBB;

      p {
        margin: 0;
        padding: 0;
        line-height: 30px;
        text-align: center;
      }

      &.active {
        background-color: #4A4A4A;
        cursor: default;
        color: #FFF;

        p {
          color: #FFF;
        }
      }
    }
  }

  .btn-wrap {
    margin-top: 10px;

    button {
      height: 30px;
      width: 120px;
    }
  }

  .result-wrap {
    margin-top: 10px;
    padding: 4px;
    overflow: scroll;
  }
}
