button.iconBtn.save {
  width: 100px;

  img {
    display: block;
    float: left;
    margin-right: 2px;
    height: auto;
    width: 14px;
    position: relative;
    top: 8px;
  }

  p {
    margin: 0;
  }
}

